* {
	font-family: 'Open Sans', sans-serif;
}
body, html {
	height: 100%;
}
#map {
	height: 400px;
	width: 100%;
}
.progress {
	height: 25px;
	margin-bottom: 10px;
}
#geotags {
	width: 100%;
	display: block;
	overflow: auto;
	margin-bottom: 50px;
}
#geotag {
	padding: 8;
	border-left: 6px solid green;
   background-color: rgba(127,127,127,0.1);
	padding: 5px;
	margin-bottom: 2px;
}
#geotag-thumb {
	margin-right: 5px;
}
#channelInput {
	margin-right: 15px;
}
#brand {
	display: inline;
	text-align: left;
	padding-left: 25px;
}
#channel {
	background-color: rgba(127,127,127,0.05);
	padding: 10px;
	margin-bottom: 10px;
}
#channel-thumb {
	margin-right: 25px;
}
#channel-name {
	font-size: 1.3em;
}
#geotag-header {
	border-style: none none solid none;
	border-color: rgb(153, 192, 255);
	border-width: 6px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.footer {
	background-color: rgba(127,127,127,0.1);
	padding-top: 15px;
	padding-bottom: 30px;
	font-size: 0.8em;
}
.blurry {
	-webkit-filter: blur(5px); /* Safari */
    filter: blur(5px);
}