* {
	font-family: 'Open Sans', sans-serif;
}
body, html {
	height: 100%;
}
#content {
	box-shadow: 0px -5px 100px 10px rgba(127,127,127,0.01);
}
#map {
	height: 400px;
	width: 100%;
}
.progress {
	height: 25px;
	margin-bottom: 10px;
}
.control {
	margin-top: 10px;
}
#btnFind {
	cursor: pointer;
}
#btnSaveAll {
	margin-bottom: 8px;
}
#advanced-form {
	margin-bottom: 5px;
}
#geotags {
	width: 100%;
	display: block;
	overflow: auto;
	margin-bottom: 50px;
}
#geotag {}
#geotag a {
	font-weight: bold;
}
#table-entry {
	background: transparent;
}
#channelInput {
	margin-right: 15px;
}
#channel {
	background-color: rgba(127,127,127,0.05);
	padding: 10px;
	margin-bottom: 10px;
}
#channel-thumb {
	margin-right: 25px;
}
#channel-name {
	font-size: 1.3em;
}
#example-list li {
	font-size: 1.2em;
}
.content-section {
	padding: 10px;
}
.special-border {
	border-width: 3px;
	border-style: dotted;
	border-color: rgba(127,127,127,0.1);
}
#geotag-header {
	border-style: none none solid none;
	border-color: rgb(153, 192, 255);
	border-width: 6px;
	padding-bottom: 4px;
	margin-bottom: 15px;
	padding-right: 10px;
	padding-left: 10px;
}
@media (max-width: 640px) {
	.col-form-label {
		display: none;
	}
}
.btn-link {
	cursor: pointer;
}
.footer {
	background-color: rgba(127,127,127,0.1);
	padding-top: 15px;
	padding-bottom: 20px;
	font-size: 0.9em;
	line-height: 200%;
	text-align: center;
}
.blurry {
	-webkit-filter: blur(5px); /* Safari */
    filter: blur(5px);
}
