* {
	font-family: 'Open Sans', sans-serif;
}
body, html {
	height: 100%;
}
#map {
	height: 400px;
	width: 100%;
}
.progress {
	height: 25px;
	margin-bottom: 10px;
}
#geotags {
	width: 100%;
	display: block;
	overflow: auto;
	margin-bottom: 50px;
}
#geotag {
	padding: 8;
	border-left: 6px solid green;
   background-color: rgba(127,127,127,0.1);
	padding: 5px;
	margin-bottom: 2px;
}
#geotag-thumb {
	margin-right: 5px;
}
#channelField {
	width: 100%;
	border-radius: 5;
}
#brand {
	display: inline;
	text-align: left;
	padding-left: 25px;
}