---
layout: null
title: About - YouTube Geofind
---

<!doctype html>
<html lang="en">
	<head>
		<title>About - YouTube Geofind</title>
		{% include_relative head.html %}
	</head>
	<body>
		{% include_relative nav.html %}
		<main role="main" class="container">
			<br>
			<h4>About YouTube Geofind</h4>
			<p>
				Created by mattwright324.
				<br>
				Search YouTube channels for geo-tagged videos which will display in the Google Maps display. The list of geo-tagged videos may be exported as a CSV.
			</p>
			<h4>Great examples to try:</h4>
			<ul>
				<li>oceanexplorergov</li>
				<li>aquachigger</li>
				<li>pennlive</li>
			</ul>
		</main>
	</body>
</html>