---
layout: default
title: Topic Search
type: topic
---
<div class="container mb-15">
    <div class="progress" style="margin-bottom:5px">
        <div id="progressBar" class="progress-bar" role="progressbar" style="" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="label"></div>
        </div>
    </div>
    <div id="progressText" style="width: 100%;text-align: center;">Idle</div>
</div>
<div class="container mb-15">
    <h2>Topic Search</h2>
    <p>Search YouTube normally to see if any results have geotags (usually not many).</p>
    <div class="row g-3">
        <div class="col-12">
            <label for="keywords" class="form-label"><b>Keywords</b></label>
            <input type="text" class="form-control" id="keywords" placeholder="Search" aria-describedby="keywordsHelp" autocomplete="off">
            <div id="keywordsHelp" class="form-text">As if searching in YouTube.</div>
        </div>
        {% include form_controls.html %}
    </div>
</div>
{% include export_share.html %}
<div class="container">
    <h2>Geotags</h2>
    <p>
        Alternate view of results that are in the map.
        Want to see, search, filter more detailed data about these videos?
        Export this result and import into
        <a target="_blank" href="https://mattw.io/youtube-metadata/bulk">YouTube Metadata Bulk</a>.
    </p>
</div>
<div class="container mb-15">
    <div class="mb-3 mt-3" hidden>
        <label for="display-mode">Display</label>
        <select id="display-mode" class="form-select" style="width: auto; display: inline">
            <option>Formatted</option>
            <option>Table</option>
        </select>
    </div>
    <table id="geotagsTable" class="table table-hover" style="width:100%"></table>
</div>

