<div class="container mb-15" id="alerts">
    <div id="geofind-announce-20230305" class="announcement alert alert-success alert-dismissible fade show" role="alert">
        <strong>Update 2023.03.05</strong> &mdash;
        Temporarily disabling this application's access to Google Maps breaking functionality.
        An abuse of the application resulted in excessive cost (>$1000) from the Maps API.
        Alternatives are being looked into. In the meantime, you can also self-host with your own API key(s) if you see the
        <a target="_blank" href="https://github.com/mattwright324/youtube-geofind/blob/master/BUILD.md">BUILD</a> file.
        <a target="_blank" href="https://www.paypal.com/paypalme/mattwright324">Donations</a> are also welcome.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                onclick="geofind.closeAnnouncement();"></button>
    </div>
    <script>
        geofind.checkAnnouncement();
    </script>
</div>
