<div class="container mb-15" id="alerts">
    <div id="geofind-announce-20230331" class="announcement alert alert-success alert-dismissible fade show" role="alert">
        <strong>Update 2023.03.29</strong> &mdash;
        YouTube Geofind is back online now using Mapbox instead of Google Maps!
        The map is now a globe but everything should function just as good as before.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                onclick="geofind.closeAnnouncement();"></button>
    </div>
    <script>
        geofind.checkAnnouncement();
    </script>
</div>
