<div id="alerts">
	<div class="alert alert-info alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Update March 2019!</strong>
		Fixes! Now automatically clears previous search results with new checkbox under search button.
		Table at the bottom now displays results in the order they came back, rather than alphabetical.
		Added button in table to open the same video popup in the map. Issue with profile icons not
		loading in map fixed.
	</div>
</div>
