<div class="col-md-3">
    <label for="timeframe" class="form-label">
        Timeframe
        <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="YouTube API time is based in UTC ±00:00"></i>
    </label>
    <select id="timeframe" aria-describedby="orderhelp" class="form-select" autocomplete="off">
        <option value="any" selected>Any</option>
        <option value="hour-1">Past hour</option>
        <option value="hour-3">Past 3 hours</option>
        <option value="hour-6">Past 6 hours</option>
        <option value="hour-12">Past 12 hours</option>
        <option value="hour-24">Past 24 hours</option>
        <option value="day-7">Past 7 days</option>
        <option value="day-30">Past 30 days</option>
        <option value="day-90">Past 90 days</option>
        <option value="day-365">Past year</option>
        <option value="custom">Custom</option>
    </select>
</div>
<div class="col-md-3">
    <label for="sortBy" class="form-label">Sort by</label>
    <select id="sortBy" aria-describedby="orderhelp" class="form-select" autocomplete="off">
        <option value="date" selected>Date</option>
        <option value="rating">Rating</option>
        <option value="relevance">Relevance</option>
        <option value="title">Title</option>
        <option value="viewCount">View Count</option>
    </select>
</div>
<div class="col-md-3">
    <label for="videoDuration" class="form-label">Duration</label>
    <select id="videoDuration" aria-describedby="page-msg" class="form-select" autocomplete="off">
        <option value="any" selected>Any</option>
        <option value="short">Short (< 4 mins)</option>
        <option value="medium">Medium (20 mins <> 4 mins)</option>
        <option value="long">Long (> 20 mins)</option>
    </select>
</div>
<div class="col-md-3">
    <label for="pageLimit" class="form-label">
        Page limit
        <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="YouTube API pages of 50 results per page"></i>
    </label>
    <select id="pageLimit" aria-describedby="pageLimitHelp" class="form-select" autocomplete="off">
        <option value="1">1 page</option>
        <option value="2">2 pages</option>
        <option value="3" selected>3 pages</option>
        <option value="4">4 pages</option>
        <option value="5">5 pages</option>
    </select>
</div>

<div class="col-md-3 customRange" style="display:none;">
    <label for="dateFrom" class="form-label">Date from</label>
    <input class="form-control" id="dateFrom" type="datetime-local" value="2005-02-13T00:00" autocomplete="off">
</div>
<div class="col-md-3 customRange" style="display:none;">
    <label for="dateTo" class="form-label">Date to</label>
    <input class="form-control" id="dateTo" type="datetime-local" value="2022-01-18T23:59" autocomplete="off">
</div>

<div class="col-12">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="liveOnly" autocomplete="off">
        <label class="form-check-label" for="liveOnly">
            Live events only
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="creativeCommons" autocomplete="off">
        <label class="form-check-label" for="creativeCommons">
            Licensed with Creative Commons
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="highQuality" autocomplete="off">
        <label class="form-check-label" for="highQuality">
            High Quality only
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="dimension3d" autocomplete="off">
        <label class="form-check-label" for="dimension3d">
            3D only
        </label>
    </div>
</div>

<div class="col-12">
    <button id="btnSubmit" type="submit" class="btn btn-primary mb-3" style="width: 100%">
        <span id="text">Submit</span>
        <span class="spinner"></span>
    </button>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="clearOnSearch" checked autocomplete="off">
        <label class="form-check-label" for="clearOnSearch">
            Clear results on every search
        </label>
    </div>
</div>
