<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Search YouTube for geographically tagged videos by location, topic, or channel. Videos are viewable in a map and exportabled to CSV.">
<link rel="icon" href="./img/icon.png">

<link rel="preconnect" href="https://maps.googleapis.com" crossorigin>
<link rel="preconnect" href="https://maps.gstatic.com" crossorigin>
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>

<link rel="stylesheet" href="./css/gmaps-context-menu.css?v={{ site.time | date_to_xmlschema }}"/>
<link rel="stylesheet" href="./css/youtube-geofind.css?v={{ site.time | date_to_xmlschema }}"/>
<link rel="stylesheet" href="./css/spinner.css"/>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css"/>

<script src="//cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="//randojs.com/2.0.0.js"></script>
<script src="//rawgit.com/peteboere/1517285/raw/a74937246b910f3e84f7a5ae072375cdaf040c2b/jquery.alterclass.js" defer></script>
<script src="//cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="//cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>

<script src="./js/youtube-api-v3.js?v={{ site.time | date_to_xmlschema }}" type="text/javascript"></script>
<script src="./js/gmaps-context-menu.js?v={{ site.time | date_to_xmlschema }}" type="text/javascript"></script>
<script src="./js/youtube-geofind-coordinates.js?v={{ site.time | date_to_xmlschema }}" type="text/javascript"></script>
<script src="./js/youtube-geofind-v4.js?v={{ site.time | date_to_xmlschema }}" type="text/javascript"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-100434147-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-100434147-2');
</script>

