<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="youtube, geofind, geolocation, geotag, geotags, location, search, channel location, neighbor, video location, geofinder, youtube geofinder, find youtube location" />
<link rel="icon" href="./img/icon.png">
<link rel="stylesheet" href="./css/youtube-geofind.css?v=1" />
<link rel="stylesheet" href="./css/spinner.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" href="./css/bootstrap.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/r-2.2.2/datatables.min.css"/>
<script src="./js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script async src="./js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
<script src="./js/youtube-api-v3.js?v=1.0" type="text/javascript"></script>
<script src="./js/youtube-geofind-v3.js?v=1.0" type="text/javascript"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-100434147-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-100434147-2');
</script>

