<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
	<div class="container">
		<a class="navbar-brand" href="..">
			<img src="./img/icon.png" width="30" height="30" class="d-inline-block align-top"	/>
			YouTube Geofind
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<span class="navbar-text" style="color:#fff">Search by:</span>
				</li>
				<li class="nav-item">
					<a class="nav-link" href=".">Channel</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./topic">Topic</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="./location">Location</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" target="_blank" href="https://github.com/mattwright324/youtube-geofind/">
						<img src="https://github.com/favicon.ico" width=24px height=24px/>
						View on GitHub
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
