<!doctype html>
<html lang="en">
    <head>
        <title>Discover Geo-tagged Videos - {{ site.title }}</title>
        {% include head.html %}
    </head>
    <body>
        {% include nav.html %}

        <div id="map"></div>
        <main id="content" role="main" class="container">
            {{ content }}
        </main>

        <footer class="footer">
            <div class="container">
                <span class="text-muted">
                    {{ site.copyright }}
                    <br>
                    <a target="_blank" href="{{ site.github }}">
                        <img src="https://github.com/favicon.ico" width=16px height=16px/>
                        {{ site.author }}
                    </a>
                </span>
            </div>
        </footer>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGWanOEMEgdHqsxNDaa_ZXTZ6hoYQrnAI&callback=initMap"
                async defer></script>
    </body>
</html>