<!DOCTYPE html>
<html lang="en"  data-bs-theme="dark" class="{{ page.type }}">
<head>
    <meta charset="utf-8">
    <meta name="description"
          content="Search YouTube for geographically tagged videos by location, topic, or channel. Videos are viewable in a map and data exportable in JSON and CSV.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="./img/icon.png">
    <title>{{ page.title }} - Discover Geo-tagged Videos - MW Geofind</title>
    <meta name="pagetype" content="{{ page.type }}"/>

    <link rel="preconnect" href="//cdn.jsdelivr.net" crossorigin>

    <!-- Dependencies -->
    <script src="//cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="//cdn.jsdelivr.net/npm/bootstrap-input-spinner@3.1.7/src/bootstrap-input-spinner.min.js"></script>

    <link href="//cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>

    <script src="//cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jszip-utils@0.1.0/dist/jszip-utils.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jszip@3.10.1/dist/jszip.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js" type="text/javascript"></script>

    <!-- Mapbox -->
    <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.9.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.1/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.3/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.3/mapbox-gl-geocoder.css" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.min.js"></script>

    <!-- App -->
    <link href="./css/youtube-geofind.css?v={{ site.time | date_to_xmlschema }}" rel="stylesheet"/>
    <script src="./js/youtube-api-v3.js?v={{ site.time | date_to_xmlschema }}" type="text/javascript"></script>
    <script src="./js/examples.js?v={{ site.time | date_to_xmlschema }}" type="text/javascript"></script>
    <script src="//mattw.io/youtube-metadata/js/shared.js?v={{ site.time | date_to_xmlschema }}"
            type="text/javascript"></script>
    <script src="./js/youtube-geofind-v6.js?v={{ site.time | date_to_xmlschema }}" type="text/javascript"></script>

    <!-- Analytics -->
    <script defer data-domain="mattw.io" src="https://plausible.io/js/plausible.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light mb-15" style="border-bottom: 1px solid rgba(127,127,127,0.1);">
    <div class="container">
        <div class="navbar-brand">
            <img src="./img/icon.png" alt="" class="d-inline-block align-text-top">
            <span style="padding-left: .75rem;">MW Geofind</span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="./">Channel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./topic">Topic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./location">Location</a>
                </li>
            </ul>
            <form class="d-flex">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="darkMode" checked>
                    <label class="form-check-label" for="darkMode">Dark</label>
                </div>
                <script>
                    const switchDarkMode = document.querySelector("#darkMode");
                    const key = "bs.prefers-color-scheme"
                    const theme = localStorage.getItem(key) || "dark"
                    function setTheme(theme) {
                        document.getElementsByTagName("html")[0].setAttribute("data-bs-theme", theme)
                        switchDarkMode.checked = theme === "dark";
                        localStorage.setItem(key, theme)
                    }
                    setTheme(theme)
                    switchDarkMode.onclick = function (e) {
                        setTheme(switchDarkMode.checked ? "dark" : "light")
                    }
                </script>
            </form>
        </div>
    </div>
</nav>
<div style="position: relative">
    <div id="map" class="mb-15"></div>
    <div id="loading" align="center">
        <div style="display: flex;width: 100%;height: 100%;align-items: center;">
            <div style="margin: auto auto;">
                <div class="spinner-grow" style="width: 3.5rem; height: 3.5rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% include announcement.html %}
{{ content }}
{% include export_share.html %}
<div class="container">
    <h2>Geotags</h2>
    <p>
        Alternate view of results that are in the map.
        Want to see, search, and filter more detailed data about these videos?
        Export this result and import into
        <a target="_blank" href="https://mattw.io/youtube-metadata/bulk">YouTube Metadata Bulk</a>.
    </p>
</div>
<div class="container mb-15">
    <table id="geotagsTable" class="table table-hover" style="width:100%"></table>
</div>

<div class="ui container" style="padding-top:3%;padding-bottom:3%;color:darkgray;text-align:center">
    <img src="https://developers.google.com/static/youtube/images/developed-with-youtube-sentence-case-light.png" width="200px"/>
    <br>
    mattwright324 | 2025 | <a href="/">home</a> | <a href="https://github.com/mattwright324">github</a> |
    <a href="https://github.com/mattwright324/youtube-geofind">youtube-geofind</a>
    <br>
    <a href="https://github.com/mattwright324/youtube-metadata/blob/master/PRIVACY.md">privacy</a> |
    <a href="https://github.com/mattwright324/youtube-metadata/blob/master/TERMS.md">terms of use</a> |
    <a href="/">contact</a>
</div>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGWanOEMEgdHqsxNDaa_ZXTZ6hoYQrnAI&callback=onMapInit"-->
<!--        async defer>-->
</script>
</body>
</html>
